@media (max-width: 575.98px) {
  .menu {
    z-index: 9;
    right: 50% !important;
    -ms-transform: translate(50%, 0); /* IE 9 */
    -webkit-transform: translate(50%, 0); /* Safari */
    transform: translate(50%, 0);
  }
}

@media (max-width: 767.98px) {
  .circle-progress .col-md-4 {
    margin-bottom: 25px;
  }

  .progress-circle {
    width: 220px;
    height: auto;
    margin: 0 auto;
  }

  .circle-progress__liner {
    display: none;
  }

  .circle-progress__text {
    position: static;
    margin-bottom: 0;
    padding-right: 20px;
    border-left: 3px solid #FF6062;
    padding-left: 25px;
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .header {
    width: 100%;
    overflow: hidden;
  }

  .header__path {
    width: auto;
  }

  .circle-progress__text {
    padding-right: 15px;
    top: 75px;
  }
}

@media (max-width: 1199.98px) {
  .container--custom {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__main {
    max-width: 489px;
  }
}

@media (min-width: 1440px) {
  .container--custom {
    max-width: 1240px !important;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1920px) {
  header {
    background-size: 100% 100%;
  }
}